body
{
	font-family: sans-serif;
}
#title
{
	background-color: darkblue;
	color: white;
	width: fit-content;
	border-radius: 5px;
	padding: 5px;
	font-size: 25px;
	box-shadow: 5px 5px 5px grey;
}
.sub-title
{
	background-color:blue;
	color: white;
	width: fit-content;
	border-radius: 2.5px;
	padding: 2.5px;
	font-size: medium;
	box-shadow: 5px 5px 5px grey;
}
.button
{
	background-color: darkblue;
	border-radius: 5px;
	color: white;
	box-shadow: 5px 5px 5px grey;
}
.input-field
{
	border-radius: 5px;
}
.input-label
{
	background-color:deepskyblue;
	color: white;
	border-radius: 3.5px;
	padding: 0.5px;
	width: 25px;
	box-shadow: 5px 5px 5px grey;
	width: fit-content;
}